.header{
    background-color: aqua;
    padding: 15px 10px;
    
}
body{
    background-color: white;
    
}
body.active{
    background-color: black;
}
.container{
    width: 80%;
    margin: auto;
}
.header .container .all-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .all-header .left-header ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.white{
    background-color: #fff;
    color: black;
}
.dark{
    background-color: #000;
    color: #fff;
}